<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
 <head>
    <title>Video Surveillance</title>
     <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
</head>


 <body>
    <div class="row">
        <div class="column" id="video_stream">
            <center>
                <h2> Video Surveillance</h2>
                <img src="{% url 'main:video_feed' %}" alt="Starting webcam ...">
            </center>
        </div>

        <div class="column">
            <center>
                <h2> Prediction</h2>
                <img id="logo" src="/media/images/sex_logo.PNG" width="500" height="200"/>

                <div class="row">
                  <div class="column">
                    <h2>Female</h2>
                        <b src="{% url 'main:number_female' %}" />
                  </div>
                  <div class="column">
                    <h2>Male</h2>
                        <div class="Male">25</div>
                  </div>
                </div>
            </center>
        </div>
    </div>
 </body>
</html>