<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
 <head>
    <title>Video Surveillance</title>
     <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>


 <body>
    <div class="row">
        <div class="column" id="video_stream">
            <h2> Video Surveillance</h2>
            <img src="{% url 'main:video_feed' %}" alt="">
        </div>

        <div class="column">
            <h2> Prediction</h2>
            <p>Data..</p>
        </div>
    </div>
 </body>
</html>